@import "../colors/Colors.scss";

.aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: $black;
  height: 100vh;
}

.siderContent {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 900px) {
  .aside {
    display: none;
  }
}
