.aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #fff;
}

.siderContent{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
}

.menuItems{
    display: flex;
    flex-direction: column;
    gap: 8px;
}