@import "../colors/Colors.scss";


.wrapper {
  display: flex;
  width: 100%;
}

.wrapperContent {
  display: flex;
  width: 100%;
  overflow-y: scroll;
  gap: 16px;
  flex-direction: column;
}

.title {
  color: var(--PrimaryTextCollorWHiteMode, $black);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
}

.wrapperContent::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  gap: 24px;
}
