.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badgeNames{
  display: flex;
  gap: 10px;
}

.badgePhoto{
  display: flex;
  gap: 10px;
}

.badgeContainer {
  display: flex;
  width: 100%;
  padding: 16px 76px 18px 75px;
  background-color: black;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.badgeMap{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
}

.badgeContent{
  display: flex;
}

.footer{
  display: flex;
  cursor: pointer;
}

.badgeContainer span {
  font-family: Inter;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
}


.active {
  color:  #FF5F5F !important;
}
