@import "../colors/Colors.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.leftPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.downloadContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.photo {
  width: 169px;
  height: 172px;
  border-radius: 8px;
}

.itemInfo__title {
  color: var(--PrimaryTextCollorWHiteMode, $black);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
}

.songQuantity{
    color: var(--lSecondaryWhiteTExtCollorMode, $TextWhiteModeTextSecondary);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; 
}

.downloadCursor{
  cursor: pointer;
}

@media (max-width: 768px){
  .downloadCursor{
    display: none;
  }
  
}