.wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow-y: hidden;
    overflow-y: scroll;
    gap: 24px;
}

.wrapper::-webkit-scrollbar{
    display: none;
}