.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1024px;
}

.maindiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1024px;
    background-color: var(--BackgroundBlack, #0E0E0E);
}

.image1 {
    width: 100%;
    height: 137px;
}

.descdiv {
    display: flex;
    flex-direction: row;
}

.image2 {
    width: 318px;
    height: 318px;
    border-radius: 12px;
    position: relative;
    bottom: 110px;
    left: 3px;
}

.desctext {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15px;
    top: 10px;
    gap: 15px;
}

.desctext1 {
    color: var(--WhitePrimaryText, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.32px;
    text-transform: capitalize;
}

.desctext2 {
    color: var(--SecondaryDarkModeTextColor, #898989);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.32px;
    text-transform: capitalize;
}

.playerdiv {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.infodiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 32px;
}

.infotext {
    color: var(--SecondaryDarkModeTextColor, #898989);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.32px;
    position: relative;
    left: 3px;
    flex: 1;
    
}

.strokediv {
    width: 100%;
    border: 1px solid #333;
    position: relative;
    margin: 25px 0;
}

.musicdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 0 30px;
}

.flexdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.musictext1 {
    color: var(--SecondaryDarkModeTextColor, #898989);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.32px;
    text-align: center;
}

.musictext2 {
    color: var(--WhitePrimaryText, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
    text-align: center;
}