.musicCard {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  
}

.musicPhoto1{
  display: flex;
  gap: 10px;
}

.musicPhoto img {
  border-radius: 12px;
}

.musicInfo {
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author {
  font-size: 18px;
  color: #8f93a3;
  color: var(--lSecondaryWhiteTExtCollorMode, #8f93a3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
  letter-spacing: -0.32px;
}

.songTitle {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  text-transform: capitalize;
}

.musicWrap{
  width: 168px;
  height: 252px;
  object-fit: cover;
}

.img{
  height: 176px !important;
  width: 168px;
}



@media (max-width: 768px) {

  .musicPhoto img {
    width: 104px;
    height: 104px;
  }
  
  .songTitle{
    font-size: 16px;
  }

  .img{
    width: 104px !important;
    height: 104px !important;
  }
  .musicPhoto {
    height: 104px;
    width: 104px;
  }
  .musicWrap{
    width: 104px;
    height: 158px;
  }
}


.darkMusicCard .songTitle{
  color: #fff;
}

.cardClassName {
  cursor: pointer;
}
