@import "../colors/Colors.scss";

.badgeContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--SecondaryDarkModeTExtCollor, #898989);
  cursor: pointer;
  align-items: center;
}

.active {
  color:var(--WhitePrimaryText, #FFF) !important;
  background-color: $primary !important;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}
