.badge{
  display: flex;
}

.badgeContent {
  display: flex;
  gap: 8px;
  width: 100%;
}

.badgeContent {
  display: flex;
  padding: 8px 16px;
  gap: 10px;
  color: var(--lSecondaryWhiteTExtCollorMode, #8f93a3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  height: 35px;
  cursor: pointer;
}

.badgeContent:hover{
  color: white;
}

.badgeContent span{
  height: 34px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 12px;
  background: var(--PrimaryCollor, #ff5f5f);
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
  letter-spacing: -0.28px;
  height: 34px;
}


